Repository Skyscanner/kms-issuer: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, test, travis

.pre-commit-config.yaml:

default_stages: [commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.1.0
    hooks:
      - id: check-yaml
        args:
          - --allow-multiple-documents
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  # - repo: https://github.com/golangci/golangci-lint
  #   rev: v1.29.0
  #   hooks:
  #     - id: golangci-lint
    files: '.*\.go$'
  - repo: local
    hooks:
      - id: fmt
        name: Run go fmt
        entry: make fmt
        language: system
        require_serial: true
        files: '.*\.go$'
        stages:
          - push
      - id: test
        name: Run tests
        entry: make test
        language: system
        require_serial: true
        files: '.*\.go$'
        stages:
          - push
      - id: travis
        name: Run travis lint
        entry: travis lint
        language: system
        files: '\.travis\.yml$'

update(docs): adding new dependencies
  CONTRIBUTING.md
Due: none

chore(travis): first iteration of CI configuration
  .travis.yml
  Makefile
Due: travis

chore(lint): adding inactive golangci-lint config
  .golangci.yml
Due: none

chore(ci): Travis badge
  README.md
Due: none

chore: adding argo as code owners
  CODEOWNERS
Due: none

fix: addressing PR comments
  .golangci.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  Makefile
  README.md
Due: none

fix(pre-commit): hooks that didn't run before
  .pre-commit-config.yaml
  CODE_OF_CONDUCT.md
  LICENCE
  config/certmanager/certificate.yaml
  config/certmanager/kustomizeconfig.yaml
  config/crd/bases/cert-manager.io_certificaterequests.yaml
  config/default/kustomization.yaml
  config/default/manager_auth_proxy_patch.yaml
  config/samples/cert-manager_v1alpha1_kmsissuer.yaml
  config/samples/cert-manager_v1alpha1_kmskey.yaml
  config/samples/certificate.yaml
  hack/boilerplate.go.txt
Due: none

ci: using snap for some packages and adding pre-commit
  .travis.yml
Due: travis

docs: point links to main branch
  CONTRIBUTING.md
  README.md
Due: none

chore(linter): enable golangci-lint
  .golangci.yml
  .pre-commit-config.yaml
  Makefile
Due: none

chore(lint): addressing linters' issues
  api/v1alpha1/kmsissuer_types.go
  api/v1alpha1/kmskey_types.go
  api/v1alpha1/status.go
  api/v1alpha1/status_test.go
  controllers/certificaterequest_controller.go
  controllers/certificaterequest_controller_test.go
  controllers/helpers.go
  controllers/kmsissuer_controller.go
  controllers/kmsissuer_controller_test.go
  controllers/kmskey_controller.go
  controllers/kmskey_controller_test.go
  main.go
  pkg/kmsca/errors.go
  pkg/kmsca/kmsca.go
  pkg/kmsca/kmsca_test.go
  pkg/kmsmock/kmsmock.go
  pkg/signer/kmssigner.go
Due: fmt, test

ci: increase linter's timeout to 2 minutes
  .pre-commit-config.yaml
  Makefile
Due: none

chore(kmskey): consistent var naming
  controllers/kmskey_controller.go
Due: fmt, test

fix(rbac): permissions for creating and patching events
  config/rbac/role.yaml
  controllers/certificaterequest_controller.go
  controllers/kmsissuer_controller.go
  controllers/kmskey_controller.go
  deploy/kubernetes/kms-issuer.yaml
Due: fmt, test

fix(kmsissuer): fail on issues with public keys
  pkg/kmsca/kmsca.go
  pkg/signer/kmssigner.go
  pkg/signer/kmssigner_test.go
Due: fmt, test

make: use golangci-lint before tests
  Makefile
Due: none

remove kmsissuer duration to generate consistent ca pem
  README.md
  api/v1alpha1/kmsissuer_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/cert-manager.skyscanner.net_kmsissuers.yaml
  config/samples/cert-manager_v1alpha1_kmsissuer.yaml
  controllers/certificaterequest_controller_test.go
  controllers/kmsissuer_controller.go
  controllers/kmsissuer_controller_test.go
  deploy/kubernetes/kms-issuer.yaml
  pkg/kmsca/kmsca.go
Due: fmt, test

fix(docs): update version of cert-manager the issuer has been tested with
  README.md
Due: none

Add certificate rotation
  api/v1alpha1/kmsissuer_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/cert-manager.skyscanner.net_kmsissuers.yaml
  controllers/kmsissuer_controller.go
  controllers/kmsissuer_controller_test.go
  deploy/kubernetes/kms-issuer.yaml
  pkg/kmsca/kmsca.go
  pkg/kmsca/kmsca_test.go
Due: fmt, test

Improve logging
  controllers/kmsissuer_controller.go
Due: fmt, test

fix: certificate renewal
  controllers/kmsissuer_controller.go
  controllers/kmsissuer_controller_test.go
Due: fmt, test

fix renewal based on expiry
  controllers/kmsissuer_controller.go
Due: fmt, test

Add API reference
  .pre-commit-config.yaml
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
Due: none

added validation to deletionPendingWindowInDays
  api/v1alpha1/kmskey_types.go
Due: fmt, test

included PendingWindowInDays to create key input, renamed at deletion for consistency
  api/v1alpha1/kmskey_types.go
  config/crd/bases/cert-manager.skyscanner.net_kmskeys.yaml
  controllers/kmskey_controller.go
  deploy/kubernetes/kms-issuer.yaml
  pkg/kmsca/kmsca.go
Due: fmt, test

Update pre-commit checks
  .pre-commit-config.yaml
Due: none

Fix linter issues
  .gitignore
  .golangci.yml
  README.md
  api/v1alpha1/suite_test.go
  controllers/suite_test.go
  pkg/kmsca/suite_test.go
  pkg/kmsmock/suite_test.go
  pkg/signer/suite_test.go
Due: fmt, test

Adds disable approved condition flag to README.md
  README.md
  config/rbac/kustomization.yaml
Due: none

Adds extra condition checks to certificaterequest_controller including approval
  api/v1alpha1/zz_generated.deepcopy.go
  controllers/certificaterequest_controller.go
  controllers/certificaterequest_controller_test.go
  controllers/kmsissuer_controller.go
  controllers/kmskey_controller.go
  controllers/suite_test.go
  main.go
Due: fmt, test

Change -disable-approved-check to -enable-approved-check to prevent boolean stuttering
  README.md
  main.go
Due: fmt, test

Adds approver RBAC for approval conditions and updates CertificateRequest CRD
  config/crd/bases/cert-manager.io_certificaterequests.yaml
  config/crd/bases/cert-manager.skyscanner.net_kmsissuers.yaml
  config/crd/bases/cert-manager.skyscanner.net_kmskeys.yaml
  config/rbac/cert_manager_controller_approver_clusterrole.yaml
  config/rbac/cert_manager_controller_approver_clusterrolebinding.yaml
  config/rbac/kustomization.yaml
  deploy/kubernetes/kms-issuer.yaml
Due: none

Update cert-manager to v1.3
  go.mod
  go.sum
Due: none

Use proper controller-gen version
  config/crd/bases/cert-manager.skyscanner.net_kmsissuers.yaml
  config/crd/bases/cert-manager.skyscanner.net_kmskeys.yaml
  deploy/kubernetes/kms-issuer.yaml
Due: none

Adds requestShouldBeProcessed tests
  .golangci.yml
  controllers/certificaterequest_controller_test.go
  controllers/suite_test.go
  go.mod
Due: fmt, test

Add support for release drafter
  .github/release-drafter.yml
  .github/workflows/dependabot.yml
  .github/workflows/release-drafter.yml
Due: none

Cooler template
  .github/release-drafter.yml
Due: none

Fix flag description
  main.go
Due: fmt, test

Fix markdown formatting of the tables in README.md
  README.md
Due: none

Remove travis
  .pre-commit-config.yaml
  .travis.yml
Due: travis

Add test and build action
  .github/workflows/test-build.yml
  kubebuilder_sha256.txt
Due: none
